<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>Tracking Student Engagement Through Mobile Device Channels</h1>

      <!-- <h1>ETHNO 597 Project</h1> -->
      <mat-card [ngClass]="animateOnRouteEnter" class="get-started">
        <mat-card-content>
          <p>
            <b>Premise:</b> Boise State is missing an opportunity to better engage with students where it matters 
            most–their mobile device. As an institution we are not taking full advantage of the mobile platform. 
            We do not possess a unified mobile strategy for student engagement.
          </p>
          <p>
            There are four primary channels to engage students with on a mobile device. They are: <code>Push Notifications</code>, 
            <code>SMS</code>, <code>Email</code>, and what we are calling the <code>Newsfeed</code>. Each channel carries norms 
            for what kind of messaging is deemed appropriate. Different levels of relevance and priority can dictate the most 
            appropriate channel to send messages through.
          </p>
          <p>
            The first phase of this study will be primarily concerned with interviewing stakeholders at Boise State 
            and will explore four primary questions:
          </p>
          <ul>
            <li>"Who do you communicate with?"</li>
            <li>"At what particular time of year?"</li>
            <li>"Through what means?"</li>
            <li>"With what priority?"</li>
          </ul>
          <p>
            Ultimately I would like to understand how and what various stakeholders on campus communicate to students 
            in order to better inform campus needs. This communication tool would provide contextually relevant 
            communication individualized to the student and a the most ideal time.
          </p>
          <p>
            The current version of this application represents the accumluation of work for the Spring 2018 semester toward an interdisciplary
            Master's degree at Boise State University. Here I explore potential solutions through proof of concept demos 
            allowing administrators to send targeted communications to student mobile devices. 
          </p>
          <!-- <p>
            The work represented here is the result of a design ethnography course at Boise State University
           <small><em>(ETHNO 597: Fundamentals of Design Ethnography)</em></small>. The methods used to 
            design these high-fidelity mock-ups were customer journey mapping, empathy maps, and stakeholder interviews.
          </p>
          <h3>Interviews:</h3>
          <h3>Design Persona:</h3>
          Personas help us to answer who are we designing for. They are useful for helping to align strategy and goals to particular groups of users. -->
          



          
          <p>
          </p>
          <!-- <h3>Affinity Mapping:</h3>
          <p>Lead the exercise to brainstorm who would use this tool and what content they would like to send through it.</p> -->
          <div class="actions">
              <a [ngClass]="animateOnRouteEnter"
                  mat-raised-button color="primary" (click)="openCustomerJourneyMap()">
                  <i class="fa fa-map"></i> Customer Journey Map
              </a>
            <a [ngClass]="animateOnRouteEnter"
                mat-raised-button color="primary" routerLink="../examples">
              Check Examples
            </a>
            <a mat-raised-button color="accent" routerLink="../create"
                [ngClass]="animateOnRouteEnter">
              View Demo
            </a>
            <a mat-raised-button routerLink="../settings"
                [ngClass]="animateOnRouteEnter">
              Change Theme
            </a>
            <span [ngClass]="animateOnRouteEnter">or</span>
            <a mat-raised-button
                [ngClass]="animateOnRouteEnter"
                target="_blank"
                href="https://medium.com/@philmerrell">
              <i class="fa fa-medium"></i> Check Blog Posts
            </a>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- <div class="get-started" [ngClass]="animateOnRouteEnter">
        <h2>Getting started</h2>
        <code>git clone
          https://github.com/tomastrajan/angular-ngrx-material-starter.git
          new-project</code><br>
        <code>cd new-project</code><br>
        <code>npm install</code><br>
        <code>npm start</code>
      </div> -->
    </div>
  </div>
</div>
