<div class="background">
  <div class="gradient">
    <div class="container">
      <!-- <button mat-button mat-raised-button [isLoading]="loading" (click)="testLoading()">
        Load Me
      </button> -->
      <anms-loading-button [isLoading]="loading" color="primary" (click)="testLoading()">Submit</anms-loading-button>
      <h1>DESIGN BRIEF:</h1>
      <h2>Tracking Student Engagement Through Mobile Device Channels</h2>
      <mat-card [ngClass]="animateOnRouteEnter" class="get-started">
        <mat-card-title><b>Premise</b></mat-card-title>
        <mat-card-content>
          <p>
            Boise State is missing an opportunity to better engage with students where it matters 
            most–their mobile device. As an institution we are not taking full advantage of the mobile platform. 
            We do not possess tools that can help us form a unified mobile strategy for student engagement.
          </p>
          <p>
            How do we go about solving this? As an institution how do we know we are on the right path to building useful and innovative tools?
          </p>
          <p>&nbsp;</p>
          <h3>A Framework for Design</h3>
          <p>Design ethnography ... design thinking ...</p>
          <div style="float: left; padding: 10px; background: #eee; margin: 10px;">
            <img src="assets/papanek.jpg" width="200"><br>
            <span>A pretty cool dude.</span>
          </div>
          <div style="padding: 10px;">
            <b>Victor Papanek</b><br>
            <aside class="pquote">
                <blockquote>
                    <p>
                        "Design must be an innovative, highly creative, cross-disciplinary tool responsive 
                        to the needs of [people]. It must be more research-oriented, and we must stop defiling 
                        the earth itself with poorly-designed objects and structures." 
                    </p>
                </blockquote>
            </aside>
            <p>Papanek is one of the grandfathers of design thinking, which is an iterative framework for crafting 
              solutions to problems. He introduced the idea of cross-disciplinary design teams and was emphasized 
              the importance of the iterative cycle of design. </p>
          </div>
          <div class="actions">
            <a [ngClass]="animateOnRouteEnter"
              mat-raised-button color="primary" (click)="openInnovationVennDiagram()">
              <i class="fa fa-bullseye"></i> Innovation Sweet Spot
            </a>
          </div>
          <h4>Desirability</h4>
          <p>
            A number of interviews with various potential stakeholders were conducted. These interviews ranged from faculty, 
            to staff at various administrative levels. The key takeaway from this body of interviews is that this functionality 
            is desired and each interview provided a wealth of information on potential use cases. Through these interviews I 
            was also able to categorize the stakeholders in to categories represented in "personas".
          </p>
          <div class="actions">
            <a [ngClass]="animateOnRouteEnter"
              mat-raised-button color="primary" (click)="openPersonas()">
              <i class="fa fa-id-card"></i> Personas
            </a>
          </div>
          <h4>Feasibility</h4>
          <p>
            The key technology for this application is provided by Amazon Web Services's <b>Simple 
            Notification Service</b> (SNS). SNS is an API for subscribe and publish messaging. It helps 
            to coordinate the delivery of messages to subscribing endpoints and clients.
            SNS is flexible in how it can be used and provides a variety of communication channels.
          </p>
          <div class="actions">
            <a [ngClass]="animateOnRouteEnter"
              mat-raised-button color="primary" target="_blank" href="https://aws.amazon.com/sns/">
              <i class="fa fa-amazon"></i> AWS: Simple Notification Service
            </a>
          </div>
          <h4>Viability</h4>
          <p>
            There are four primary channels to engage students with on a mobile device. They are: <b>Push Notifications</b>, 
            <b>SMS</b>, <b>Email</b>, and what we are calling the <b>Newsfeed</b>. Each channel carries norms 
            for what kind of messaging is deemed appropriate. Different levels of relevance and priority can dictate the most 
            appropriate channel to send messages through.
          </p>
          <div class="actions">
            <a [ngClass]="animateOnRouteEnter"
              mat-raised-button color="primary" (click)="openCustomerJourneyMap()">
              <i class="fa fa-map"></i> Customer Journey Map
            </a>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card [ngClass]="animateOnRouteEnter" class="get-started">
        <mat-card-content>
          <p>
            The first phase of this study will be primarily concerned with interviewing stakeholders at Boise State and will explore four primary questions:
          </p>
          <ul>
            <li>"Who do you communicate with?"</li>
            <li>"At what particular time of year?"</li>
            <li>"Through what means?"</li>
            <li>"With what priority?"</li>
          </ul>
          <p>
            Ultimately I would like to understand how and what various stakeholders on campus communicate to students 
            in order to better inform campus needs. This communication tool would provide contextually relevant 
            communication individualized to the student and a the most ideal time.
          </p>
          <p>
            The current version of this application represents the accumluation of work for the Spring 2018 semester toward an interdisciplary
            Master's degree at Boise State University. Here I explore potential solutions through proof of concept demos 
            allowing administrators to send targeted communications to student mobile devices. 
          </p>
          <!-- <p>
            The work represented here is the result of a design ethnography course at Boise State University
           <small><em>(ETHNO 597: Fundamentals of Design Ethnography)</em></small>. The methods used to 
            design these high-fidelity mock-ups were customer journey mapping, empathy maps, and stakeholder interviews.
          </p>
          <h3>Interviews:</h3>
          <h3>Design Persona:</h3>
          Personas help us to answer who are we designing for. They are useful for helping to align strategy and goals to particular groups of users. -->
          



          <p>
            I want myBoiseState Mobile to be more focused on helping students navigate milestones, and important dates, and facilitate targeted communication. 
            Less about providing links as an SSO hub.
          </p>
          <p>
          </p>
          <div class="actions">
            
            
            <a [ngClass]="animateOnRouteEnter"
                mat-raised-button color="primary" routerLink="../examples">
              Check Examples
            </a>
            <a mat-raised-button color="accent" routerLink="../create"
                [ngClass]="animateOnRouteEnter">
              View Demo
            </a>
            <a mat-raised-button routerLink="../settings"
                [ngClass]="animateOnRouteEnter">
              Change Theme
            </a>
            <span [ngClass]="animateOnRouteEnter">or</span>
            <a mat-raised-button
                [ngClass]="animateOnRouteEnter"
                target="_blank"
                href="https://medium.com/@philmerrell">
              <i class="fa fa-medium"></i> Check Blog Posts
            </a>
          </div>
          <h3>Under The Hood:</h3>
            Traditionally, software creation (or purchasing) at Boise State has been necessitated through a problem stakeholders have. The metric for 
            for success has been the delivery of a solution. Rarely have we asked, "What can technology do for us?". 
          <p></p>

        </mat-card-content>
      </mat-card>
      <!-- <div class="get-started" [ngClass]="animateOnRouteEnter">
        <h2>Getting started</h2>
        <b>git clone
          https://github.com/tomastrajan/angular-ngrx-material-starter.git
          new-project</b><br>
        <b>cd new-project</b><br>
        <b>npm install</b><br>
        <b>npm start</b>
      </div> -->
    </div>
  </div>
</div>
