.notification {
  border-radius: 10px;
  z-index: 999;
  width: 95%;
  padding: 10px;
  margin: 10px;
  font-size: .8em;
  position: absolute;
  background: rgba(255,255,255,0.95);
  top: 5;
  left: 10;
  right: 10;
}