<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8 entry">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>SMS Explanation</h2>
      <p>
        The <code>SMS</code> feature
      </p>
      <p>
        It should contain high priority “should-know” or “have-to-know” information for students.          
      </p>
      <p>
        <strong>Message priority:</strong> <code>Medium</code> to <code>High</code>
      </p>
      <p>
        <strong>Message relevance:</strong> <code>High</code>
      </p>
      <p>
        <strong>Examples:</strong> 
        </p>
      <br>
        
    </div>
    <div class="offset-md-1 col-md-5">
      <h2>Example</h2>
      <anms-phone-shell>
        <anms-home-screen-shell>
            <p class="notification" style="margin-bottom: 0;">
              <img src="assets/nav-logo.png" style="float: left; height: 15px;"><span style="font-size: .9em;">&nbsp;&nbsp;&nbsp;BOISE STATE</span><span style="float: right">now</span><br>
              <strong>Semester Grade</strong><br>
              Your final grade for ETHNO 597 in now available
            </p>
        </anms-home-screen-shell>
      </anms-phone-shell>
    </div>
  </div>
</div>
