<h2 mat-dialog-title>Stakeholder Personas</h2>
<h2>Administrative Level</h2>
<p>
  <b>Examples:</b> Provost, Deans, VPs, Director<br>
  <b>Needs:</b> More refined methods and flexibility for communicating with wide variety of students.<br>
  <b>Responsibilities:</b> Oversee educational opportunities that deepen and enrich the undergraduate experience, student recruitment<br> 
  <b>Goals:</b> Communicate with campus community, Retention, Connect students to campus opportunity and other high-level messaging.<br>
  <b>Concerns:</b> Concerned with how this scales to outside groups. Doesn't want to our institution to abuse the priviledge with students.<br>
</p>

<h2>Academic Support Staff</h2>
<p>
  <b>Examples:</b> College and major-level support staff, Advising, OIT, Student Involvement<br>
  <b>Needs:</b> Methods for targeting particular groups for support and status messages<br>
  <b>Responsibilities:</b> Support student success through majors, events and programs, and technology.<br>
  <b>Goals:</b> Student engagement
</p>

<!-- <h2>Faculty</h2>
<p>
  <b></b>
</p> -->

<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>



