<h1 style="text-align: center;">The Innovation Sweet Spot</h1>
<div style="text-align: center;">
  <img src="/assets/innovation.png" width="80%">
</div>
<p>&nbsp;</p>
<p>
  <b>Feasibility</b> - What can technology do for us? What technology is available to us and what problems can it solve? (e.g. AWS)
</p>
<p>
  <b>Viability</b> - What do we have the expertise to deliver? (e.g., Developers)
</p>
<p>
  <b>Desirability</b> - Does this solve a problem the community has? Is this something students, faculty or staff want?
</p>

