<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8 entry">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>Activity Feed Explanation</h2>
      <p>
        The <code>activity feed</code> feature is analagous to a newsfeed. Similar to 
        applications such as Facebook, Twitter, and news apps, its goal is to present fresh and 
        timely content that is personalized and should encourage students to check for 
        new information regularly.
      </p>
      <p>
        Content in the feed is ephemeral in nature. Items are pushed down the feed 
        as newer items appear. It should contain “want-to-know” or “should-know” 
        information for students.          
      </p>
      <p>
        <strong>Message priority:</strong> <code>Low</code> <code>Medium</code>
      </p>
      <p>
        <strong>Message relevance:</strong> <code>Medium</code> <code>High</code>
      </p>
        <strong>Examples:</strong>
        <ul>
          <li>Campus update articles</li>
          <li>BSPR content</li>
          <li>Sports</li>
          <li>Campus Events</li>
          <li>Social Media Posts</li>
          <li>Timely Reminders</li>
          <li>Upcoming Academic Calendar Items</li>
        </ul>
          
      <br>
        
    </div>
    <div class="offset-md-1  col-md-5">
      <h2>Example</h2>
      <anms-phone-shell>
        <anms-app-shell>
            <anms-activity-feed-card 
              *ngFor="let item of cards" 
              [content]="item">
            </anms-activity-feed-card>
        </anms-app-shell>
      </anms-phone-shell>
    </div>
  </div>

</div>
