<h3>Customer Journey Map:</h3>

<table>
  <tr>
    <th>
      <strong>Stages</strong>
    </th>
    <th>
      <strong>Pick a Channel</strong>
    </th>
    <th>
      <strong>Select a Target Audience</strong>
    </th>
    <th>
      <strong>Create Communication</strong>
    </th>
    <th>
      <strong>Analyzation</strong>
    </th>
  </tr>
  <tr>
    <td>
      <strong>Goals</strong>
    </td>
    <td>Select a method for communicating with campus population</td>
    <td>Choose recipients of the communication based on campus demographics.</td>
    <td>Input the information to be sent to target audience.</td>
    <td>View analytics to gage effectiveness of the communication.</td>
  </tr>
  <tr>
    <td>
      <strong>Touchpoints</strong>
    </td>
    <td>
      <ul>
        <li>Select “Activity Feed” channel</li>
        <li>Select “Push Notification” channel</li>
        <li>Select "Text Message" channel</li>
        <li>Select "Email" Channel</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Filter by “All Students”</li>
        <li>Filter by College</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Input a headline</li>
        <li>Input description</li>
        <li>Input media type (audio, video, link, calendar event)</li>
        <li>Input a link url</li>
        <li>Input an image url</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Show the total count of created items.</li>
        <li>View list of all content items the logged in user created.</li>
        <li>View detail of content analytics.</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Opportunities</strong>
    </td>
    <td>
      <strong></strong>
    </td>
    <td>
      <strong></strong>
    </td>
    <td>
      <strong></strong>
    </td>
    <td>
      <strong></strong>
    </td>
  </tr>
</table>